<div class='row'>
	<div class="span11">
		<%= image_tag 'intro.png' %>
	</div>
</div>


<%= bootstrap_flash %>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering text-center">
            <%= link_to '/auth/facebook' do %>
				<%= image_tag('sign-in.png', size: '250x50')  %>
			<% end %>
        </div>
    </div>
</div>
