/*
 *= require bootstrap_and_overrides
 *= require_self
 */


 .row {
  text-align: center;
}

.alert {
  width: 30%;
  text-align: center;
  margin: auto;
}

.centering {
 position: relative;
 margin: auto;
}