body {
  padding-top: 70px;
}

.container {
  	height: 100%;
}

#map-canvas { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
	padding: 0;
}

.city-select {
  text-align: center;
}

.city-select h1 {
  padding-bottom: 50px;
}

.city-select p {
	font-size: 50px;
}

span.city {
}

button.join, button.share, button.invite {
  margin-right: 50px;
  margin-top: 25px;
}

button.join a, button.share a, button.view a {
  color: #FFFFFF;
}